<%- include("partials/header"); -%>
    <h1>Home</h1>
    <%if(data){data.forEach((element) =>{%>
        <div>
            <div>
                <h3>
                    <a href="/post/<%=element.POST_ID%>">제목:
                        <%=element.TITLE%></a>
                </h3>
            </div>
            <p>
                작성자:
                <%=element.ID%></p>
            <p>작성일:
                <%=element.INS_DATE%></p>
        </div>
        <%})}else {%>
            <h1>게시글이 없습니다.</h1>
            <%}%>

        <%- include("partials/footer"); -%>